<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">
  <link rel="icon" href="favicon.ico">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="nuevo">El Mundo Gamer</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="nuevo">Inicio</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./registro"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
            <li><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
            <li><a href="./administrador"><span></span> Administrador</a></li>
          </ul>
        </div>
      </nav>
<header>
    <main role="main">
 
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h2 >Alguna de las clasificaciones que tenemos de video juegos.</h2>
            
             
            </form>
          </div>
        </div>
        <hr>
        <div class="container"> 
          <h2 style="font-family: Arial, Helvetica, sans-serif color "   class="font-weight-bold text-center text-capitalize">Los juegos más destacados</h2>
          <img src="/img/juegos2.jpeg" class="img-thumbnail"  alt="center"width="450" height="50">
          <H1 style="font-size : medium " >¿QUÉ JUEGOS SON LOS MÁS POPULARES EN MÉXICO?
           

 
          <div class="container">
            <h3 H1 style="font-size : medium ">Asimismo, Facebook Gaming (vía Forbes) reveló que en México, los juegos más populares para los creadores de contenido en esta plataforma durante julio de 2021 fueron Call of Duty: Warzone, Free Fire, Fortnite, Call of Duty: Mobile y Minecraft, en ese orden.

              Lo anterior no toma mucho por sorpresa. Call of Duty siempre ha sido una de las franquicias de videojuegos más populares y con Call of Duty: Warzone logró canalizar a todos los jugadores de diversas entregas en un mismo juego de género Battle Royale, que despegó en los últimos años.
              
              Queda claro que los dispositivos móviles se han convertido en una fantástica opción para jugar y eso también se puede ver en México, pues 4 de los juegos más populares de la región están disponibles en móviles.
              
              Free Fire es una de ellas y logró posicionarse en el segundo lugar, sólo debajo de Call of Duty: Warzone, lo que quiere decir que el título de Garena sigue siendo muy popular y accesible. 
              <h4>De hecho, fuentes indican que es el título más jugado en México.
              
                No podemos no hablar de Minecraft, que, a pesar de haber debutado hace más de 1 década, sigue siendo una de las opciones más populares no sólo en México, sino en todo el mundo año con año, gracias en parte a que Mojang y Microsoft siguen llevando contenido nuevo al título.
                
                Por si te lo perdiste: Xbox es la marca de videojuegos preferida en México.
                
                ¿Qué opinas de las cifras del consumo de videojuego en México? ¿Está en la lista un título que suelas jugar? Cuéntanos en los comentarios.</h2> 
            
          <br><br></div>

          <img src="/img/p2.jpg"  class="img-thumbnail" alt="text-center"width="250" height="250">

          <img src="/img/p1.jpg"  class="img-thumbnail" alt="text-center"width="550" height="650">
          
          <hr>
 
        
  
      </main>
</header>
 
      
 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</body>
</html>