<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">
  <link rel="icon" href="favicon.ico">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">El Mundo Gamer</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="mensaje">Revistas</a></li>
            <li><a href="#">Figuras de accion</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./registro"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
            <li><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
            <li><a href="./administrador"><span></span> Administrador</a></li>
          </ul>
        </div>
      </nav>
<header>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h2>Encuentra la noticia del juego que andas buscando.</h2>
            Puedes buscar por descripción y categoría.
            <form class="form-inline">
              <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Escriba una búsqueda">&nbsp;
             
              <button type="submit" class="btn btn-primary mb-3">Buscar</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="container"> 
          <h2 class="font-weight-bold text-center text-capitalize">LAS NOTICIAS MAS DESTACADAS</h2>
          <hr>

          <div class="row">
            <div class="col-md-3">            
              <img class="rounded mx-auto d-block" src="/img/uncharted.jpg" alt="Generic placeholder image" width="220" height="220">            
            </div>
            <div class="col-md-9" >
              <h2>UNCHARTED</h2>
              <h6 class="card-title"><strong>Categoría: </strong> <span>Aventura</span></h6>
              <h6 class="card-title"><strong>Publicado: </strong> <span>05-19-2019 </span></h6>
              <p>Uncharted es un juego demaciado bueno para adentrarte al mundo de la aventura si lo que quieres es explorar nuevos mundos y encontrar tu lado aventurero. </p>
              <p><a class="btn btn-secondary" href="https://www.playstation.com/es-mx/uncharted/" role="button">Leer mas... &raquo;</a></p>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-3">            
              <img class="rounded mx-auto d-block" src="/img/gta.png" alt="Generic placeholder image" width="220" height="220">            
            </div>
            <div class="col-md-9">
              <h2>Grand theft auto</h2>
              <h6 class="card-title"><strong>Categoría: </strong> <span>Accion</span></h6>
              <h6 class="card-title"><strong>Publicado: </strong> <span>08-11-2013 </span></h6>
              <p>Un juego en el cual puedes disparar y conducir autos muy rapidos y ser el chulo </p>
              <p><a class="btn btn-secondary" href="https://www.rockstargames.com/gta-v" role="button">Leer mas... &raquo;</a></p>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-3">            
              <img class="rounded mx-auto d-block" src="/img/gears.png" alt="Generic placeholder image" width="220" height="220">            
            </div>
            <div class="col-md-9">
              <h2>Gears of war</h2>
              <h6 class="card-title"><strong>Categoría: </strong> <span>Accion</span></h6>
              <h6 class="card-title"><strong>Publicado: </strong> <span>08-11-2013 </span></h6>
              <p>Un juego de accion donde el mundo esta plagado de locust los cuales tienes que eliminar poco a poco para poer ganar </p>
              <p><a class="btn btn-secondary" href="https://gearsofwar.com/" role="button">Leer mas... &raquo;</a></p>
            </div>
        </div>         
            <hr>	
        </div> <!-- /container -->
  
      </main>
</header>

      


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</body>
</html>
